/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
/*.icon-bar {
  position: fixed;
  top: 0;
  right: 450px;
  padding: 10px;
}*/
.icon-bar {
    position: fixed;
    top: 50%;
    margin: 0px 0px 0px -50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.print {
    background: #3d463d;
    color: white;
}

.download-pdf {
    background: #a71311;
    color: white;
/*    display: none !important;*/
}

/*sweetalert override*/
.swal-icon--custom {
    width: 80px;
    height: 80px;
}

.mobile-icon-bar{
    /* top: calc(100% - 55px);
    left: calc((100% - 160px)/2); */

    bottom: 0px;
    left: 0;
    top: auto;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
.mobile-icon-bar a{
  padding: 30px;
  font-size: 40px;
  width: calc(100% / 3);
  float: left;
  box-sizing: border-box;
  text-align: center;
}

.mobile-device{
  margin-top: 110px;
}

@media print {
    .icon-bar {
        display: none;
    }
    @page { margin: 0; }
}

@page {
    size: letter;
}

@media (min-width: 320px) and (max-width: 480px) {
    .icon-bar {
        margin: 0px;
    }
    .fa {
        font-size: 29px;
    }
    .icon-bar a {
        padding: 18px;
    }

}
