body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    letter-spacing: 1px;
    font-weight: 500;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.tight {
    line-height: 1;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}
h1,h2,h3 {
    font-weight: bold;
}
h1 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
a {
    color: crimson;
    text-decoration: none;
}
hr {
    width: 75%;
    border-color: grey;
}
.headline {
    text-align: center;
    vertical-align: center;
    font-size: 115%;
}
.headline_contact a {
    color: black;
    font-size: 200%;
}
.headline_info {
    font-weight: bold;
}
.description {
    font-size: 115%;
}
.publist {
    list-style-type: none;
}
